.zip-input{
    margin-top: 275px;
    opacity: 0;
}

#zip-label{
    opacity: 0;
}

.zip-header {
    opacity: 0;
}

#zip-submit {
    opacity: 0;
}

.nav-bottom-border {
    border-bottom: 5px solid hsl(201, 100%, 50%)
}