<div class="container-fluid" ng-class="selectedGif">
    <div class="row justify-content-center">
        <div class="zip-header col-5">
            <h1 class="display-3"> Enter Zipcode </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="zip-input card col-md-5" >
            <md-input-container class="md-block">
                <span class="text-center">
                    <label id="zip-label">
                        Zip Code</label>
                    <input class="text-center" ng-model="$root.zip" ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/">
                </span>
            </md-input-container>
        </div>
    </div>
    <div class="row justify-content-center">
        <md-button class="md-raised md-accent hue-2" id="zip-submit" ng-click="goTo('/weather');" ng-disabled="$root.zip == null">
        Go
        </md-button>
    </div>
</div>
