<!-- getLocation() initialized in div below, multiple weather controllers caused it to fire multiple times -->
<div class="row p-2 bg-dark text-white nav-bottom-border" ng-init="getLocation();">
    <div class="col-md" style="margin-top: 10px;">
        <span  class="align-middle">
            <i class="fas fa-home fa-lg float-left"></i>
            <p class="text-center">Current City</p>
        </span>
    </div>
    <div class="col-md" style="margin-top: 10px;">
        <span class="align-baseline">
            <i class="fas fa-map-marker-alt fa-lg float-left"></i>
            <p class="text-center">Closest Station</p>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md font-weight-bold text-secondary">
        <p class="text-center">{{location.city}}, {{location.country}}</p>
    </div>
    <div class="col-md font-weight-bold text-secondary">
        <p class="text-center">{{closestStation.city}}</p>
    </div>
</div>
<!--
<div data-ng-controller="WeatherController as ctrl">
    <station-carousel stations="ctrl.stations"></station-carousel>
</div> -->
<div class="container-fluid">

    <station-detail></station-detail>
    <!-- Add GoogleMap of zipcode selected -->
    <div class="nav nav-pills nav-justified"
        style="margin-bottom: 10px; border-bottom: inset 5px;">
        <md-button 
            ng-click="toggleActiveSource(source.name);"
            ng-repeat="source in weatherSources" 
            class="nav-item nav-link {{source.class}}"
        >{{ source.display }}</md-button>
    </div>
    <div ng-switch="activeCtrl">
        <div ng-switch-when="wgController">
            <wg-details></wg-details>
        </div>
</div>
</div>